@use '../utils/' as *;

.intro-screen {
  position: absolute;
  inset: 0;
  z-index: 1000;
  background-color: $bg-color;
  @include flex(center, center);
  opacity: 1;
  transition: opacity .5s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease-in-out;
  }
}