@use '../utils/' as *;

.mood {
  height: 300px;
  margin: 0 1rem;
  overflow: hidden;

  &__title {
    margin-bottom: 1rem;
  }

  &__items {
    @include flex(space-between, center);
    margin: 1rem 0;
  }

  &__item {
    width: 84px;
    height: 84px;
    background-color: $bg-mood;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;

    &__icon {
      position: absolute;
      width: 150px;
      height: 150px;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -70%);
      z-index: 0;

      img {
        width: 100%;
        opacity: 0.2;
        filter: brightness(200);

        &.active {
          opacity: 1;
          filter: unset;
        }
      }
    }

    &__label {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.2;
      filter: brightness(200);

      &.active {
        opacity: 1;
        filter: unset;
      }
    }
  }

  &__volume {
    @include flex(space-between, center);
    margin: 3rem 0 2rem 0;
    &__slider {
      width: 240px;
      height: 12px;
      background-color: $bg-mood;
      border-radius: 20px;
      margin: 0 18px;
      cursor: pointer;


      &__track {
        height: 12px;
        border-radius: 20px;
        background-color: $bg-mood;
        &.valid {
          background-color: $light;
        }
      }
      
      &__thumb {
        width: 20px;
        height: 20px;
        bottom: 50%;
        transform: translateY(50%);
        border-radius:50%;
        background-color:white;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

