@use '../utils/' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 300;
  height: 50px;
  padding: 3rem;
  background-image: linear-gradient(to bottom, rgba(56, 54, 54, 0.8), transparent);
  @include flex(space-between, center);
  gap: 0 2rem;

  &__logo {
    flex: 1;

    // @include mobile {
    //   flex: unset;
    // }
  }

  @include mobile {

    padding: 3rem 0;
    // gap: 0;

    & .toggle {
      margin-right: 1rem;
    }

    &__logo {
      flex: unset;
    }
  }
}