$screen_height: 100vh;
$tablet-width: 1024px;
$mobile-width: 600px;
$navbar-height: 80px;

$width-items: 70px;
$padding-items: 20px;
$width-tab: 345px;

$font-family: "Roboto", sans-serif;

$bg-color: #14141d;
$dark: #8b8aa2;
$light: #f3a952;

$font-size: 14px;
$font-size-title: 18px;
$line-height: 1.5;

