@use './scss/' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: $screen-height;
  overflow: hidden;
  background-color: $bg-color;
  color: #fff;
  user-select: none;
  font-family: $font-family;
  line-height: $line-height;
}

.title {
  font-size: $font-size-title;
  font-weight: 700;
}

.p-1 {
  padding: 1rem;
}

